/*
body{
    background-color: rgba(0, 0, 0,.2);
}*/
.item_header{
    padding-top: 25px;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-left: 10px;
}
.item_header div{
    width: 200px;
    color: #888;
    line-height: 30px;
}
.item_header .item_detail{
    
    width: 50%;
}
.item_body{
    margin-top: 25px;

    height: 150px;
    align-items: center;    
}
/*
.item_detail img{
    width: 120px;
    height: 120px;
    border-radius: 3px;
    
    float: left;
}*/



.item_detail .name{

    margin-left: 150px;
    margin-top: 60px;
} 

.total_box{
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    text-align:right;
}

.item_detail_image_box{
  float: left;
  margin: 0 auto;

  height: 150px;
  text-align: center;
  position: relative;
}

.item_detail_image{
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
    right: 0;
    bottom: 0;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}


.content_font{
    font-size: 18px;
}

.count_box{

    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}

.count_btn{
    margin: 25px;
}

.remark_box{
    margin-top: 50px;
}

.row-box{
    height: 150px;
    margin-top: 20px;
}

.col-box{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.title-font{
    font-size: 16px;
}